*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #292929;
}

a{
    text-decoration: none;
}

#header{
    background-color: #292929;
}

#header nav {
    width: 1200px;
    max-width: 95%;
    height: 55px;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

#header nav a{
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    font-size: 25px;
}

#header nav a span{
    color: rgb(232 109 1);
    font-size: 25px;
}

#menu {
    display: flex;
    flex-direction: column;
    height: 18px;
    justify-content: space-between;
    cursor: pointer;
}

#menu div{
    height: 2px;
    width: 26px;
    background-color: #fff;
}

.icon-area {
    display: flex;
    align-items: center;
}

.cart {
    margin-right: 18px;
    cursor: pointer;
}

.cart img{
    width: 32px;
}

.wrap {
    width: 1200px;
    max-width: 95%;
    margin: 95px auto;
}

.filter{
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.filter-area{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filter select {
    outline: none;
    background: #292929;
    color: #fff;
    border: none;
    height: 100%;
    width: 295px;
    max-width: 100%;
    height: 55px;
    background-image: url(../images/w-arrow.png);
    background-repeat: no-repeat;
    background-position: 97.5% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    padding-left: 10px;
    padding-right: 38px;
    font-size: 15px;
    margin-right: 20px;
}

.filter select option{
    width: 100%;
    padding-right: 5px;
    color: #fff;
}

.filter-value{
    display: flex;
    flex-direction: column;
}

.filter-value div{
    margin: 2px 0;
}

.button{
    background-color: transparent;
    color: #292929;
    outline: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    padding: 10px 30px;
    transition: 0.3s;
    border: 1px solid #292929;
    margin-right: 15px;
}

.button:hover{
    background-color: #292929;
    color: #fff;
}

.table-products {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table-products th {
    background-color: #292929;
    color: #fff;
    font-weight: 600;
}

.table-products tr{
    display: flex;
}

.table-products th, .table-products td{
    width: 20%;
    height: 55px;
    margin: 1px;
    text-align: left;
    padding: 15px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}


.table-products .col_1{
    padding-left: 20px;
}

.table-products tr:nth-child(even) td{
    background-color: #d8d8d8;
}

.table-products tr:nth-child(odd) td{
    background-color: #b3b3b3;
}

.table-products tr:hover td{
    background-color: #2e2e2ec7;
    color: #fff;
    cursor: pointer;
}

#modal_cart{
    width: 350px;
    max-width: 100%;
    background-color: rgb(187, 187, 187);
    min-height: 75vh;
    border-radius: 5px;
    padding: 20px 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

#modal_cart h1{
    font-size: 20px;
    color: #292929;
    margin-bottom: 15px;
    font-weight: 400;
}

.product {
    display: flex;
    position: relative;
    padding-right: 28px;
    padding-bottom: 10px;
    border-bottom: 1px solid #292929;
    margin-bottom: 10px;
}

.product-image{
    width: 75px;
    height: 75px;
    border: 1px solid #292929;
    margin-right: 15px;
}

.product-image img{
    width: 100%;
    height: 100%;
}

.product-content{
    display: flex;
    flex-direction: column;
}

.remove{
    font-weight: 800;
    color: black;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
}

.open-cart {
    display: block !important;
}

.close_cart{
    position: absolute;
    right: 15px;
    top: 9px;
    font-weight: 900;
    font-size: 27px;
    cursor: pointer;
}

.product-list{
    display: flex;
    flex-direction: column;
}

.header-content{
    margin: 20px 0;
    font-size: 40px;
}

.wrap-header{
    display: flex;
    justify-content: flex-end;
}

.fade{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.popup{
    background-color: rgb(201, 201, 201);
    padding: 40px;
    width: 700px;
    height: auto;
    max-width: 97%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.popup form{
    width: 100%;
    height: auto;
}

.popup form h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 55px;
}

.popup form div{
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup form div span{
    font-size: 18px;
    margin-right: 20px;
}

.popup form div input{
    outline: none;
    width: 400px;
    height: 35px;
    padding-left: 10px;
}

.popup form div input::placeholder{
    color: rgb(20, 20, 20);
}

.popup button{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px auto 0;
    gap: 0 20px;
}

.fade-off{
    display: flex !important;
}

.ov-hidden{
    overflow-y: hidden;
}

.reload {
    background-color: #dd6800;
    border-color: #dd6800;
    color: white;
}

.reload:hover{
    border-color: #292929;
    color: #dd6800;
}